.wrapper {
  min-height: 100vh;
  width: 100vw;

  background-color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30vw;
  min-width: 350px;
  background-color: white;
  border-radius: 10px !important;
}

.formWrapper {
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formWrapper > h1 {
  text-align: center;
  margin-top: 0;
}

.register-label {
  text-align: center;
}

.register-label > a {
  text-decoration: none;
  color: blue;
}

.bttn {
  min-height: 40px;
}
