table {
  border-collapse: collapse;
}

.adminTable {
  width: 100%;
  overflow-x: auto;
}

td,
th {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
